<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.lishaboramobile">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name="com.dev.lishabora.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dev.lishabora.Views.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.dev.lishabora.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.dev.lishabora.Utils.SmsReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name="com.dev.lishabora.Utils.FireBase.Firebase">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.dev.lishabora.Utils.FireBase.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.dev.lishabora.TrackerService"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_channel_id" -->
        <!-- android:value="@string/default_notification_channel_id" /> -->

        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.TraderActivity"
            android:label="@string/title_activity_trader"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.dev.lishabora.Views.Trader.Activities.CreateFarmerActivity" />
        <activity
            android:name="com.dev.lishabora.Views.Admin.Activities.CreateTrader"
            android:label="New Trader"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Login.Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Admin.Activities.AdminsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Login.ResetPassword"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Admin.Activities.AdimTraderProfile"
            android:label="@string/title_activity_adim_profile"
            android:parentActivityName="com.dev.lishabora.Views.Admin.Activities.AdminsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.FirstTimeLaunch"
            android:label="@string/title_activity_first_time_launch"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.GiveOrder"
            android:label="Order Processing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.Payouts"
            android:label="@string/title_activity_payouts"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.PayCard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.FarmerProfile"
            android:label="@string/title_activity_farmer_profile"
            android:parentActivityName="com.dev.lishabora.Views.Trader.Activities.TraderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.EditOrder"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.ActivityCollect"
            android:theme="@style/NoTitleDialog" />
        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.Reports"
            android:label="@string/title_activity_reports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Reports.Reports"
            android:label="@string/title_activity_milk_reports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.dev.lishabora.Views.Trader.Activities.SyncWorks" />
        <activity
            android:name="com.dev.lishabora.Views.Trader.Activities.LoansAndOrders"
            android:label="@string/title_activity_loans_and_orders"
            android:parentActivityName="com.dev.lishabora.Views.Trader.Activities.TraderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dev.lishabora.Views.Admin.Activities.AdminMain"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>